#!/bin/bash

# Start oam network:
virsh net-start {{ network.oam.name }}

ip link set {{ network.oam.external_interface }} up
ip link del {{ network.oam.external_interface }}.{{ network.oam.external_vlan }}
ip link add link {{ network.oam.external_interface }} {{ network.oam.external_interface }}.{{ network.oam.external_vlan }} type vlan id {{ network.oam.external_vlan }}
ip link set {{ network.oam.external_interface }}.{{ network.oam.external_vlan }} master {{ network.oam.name }}
ip link set {{ network.oam.external_interface }}.{{ network.oam.external_vlan }} up   

# Start external networks:
{% for n in  network.external %}
virsh net-start {{ n.name }}

ip link set {{ n.external_interface }} up
ip link del {{ n.external_interface }}.{{ n.external_vlan }}
ip link add link {{ n.external_interface }} {{ n.external_interface }}.{{ n.external_vlan }} type vlan id {{ n.external_vlan }}
ip link set {{ n.external_interface }}.{{ n.external_vlan }} master {{ n.name }}
ip link set {{ n.external_interface }}.{{ n.external_vlan }} up
{% endfor %}

# Start vms:
{% for n in nodes %}
virsh start {{ n.name }}
{% endfor %}
