#!/bin/bash

{% for n in nodes %}
{% for d in n.disk %}
\rm -f {{ hypervisor.workdir }}/{{ d.name }} 2>/dev/null
qemu-img create {{ hypervisor.workdir }}/{{ d.name }} {{ d.size }}
{% endfor %}    
{% endfor %}