#!/bin/bash

export MAGMA_TAG=1.3.0-master
export COMPOSE_PROJECT_NAME="orc8r"
docker stop registry 2>/dev/null
docker rm registry 2>/dev/null

cd /root/

docker run -d \
  --restart=always \
  --name registry \
  -v "$(pwd)"/certs:/certs \
  -e REGISTRY_HTTP_ADDR=0.0.0.0:443 \
  -e REGISTRY_HTTP_TLS_CERTIFICATE=certs/registry.orc8r.int.crt	  \
  -e REGISTRY_HTTP_TLS_KEY=certs/registry.orc8r.int.key  \
  -p 443:443 \
  registry:2


mkdir -pv /etc/docker/certs.d/{{magma.registry.host }}.{{ magma.domain }}/
cp /root/certs/regca.crt /etc/docker/certs.d/{{magma.registry.host }}.{{ magma.domain }}/regca.crt

#cat << EOF > /etc/docker/daemon.json 
# { "insecure-registries":["{{ registery_url }}"] }
#EOF
    
systemctl restart docker
sleep 10

echo "{{magma.registry.ip }} {{magma.registry.host }}.{{ magma.domain }}" >> /etc/hosts

for image in controller magmalte nginx; do
   img_id=`docker images | grep orc8r_${image} | awk '{print $3}'`
   docker image tag ${img_id} {{magma.registry.host }}.{{ magma.domain }}/${image}:1.3.0-master
   docker image push {{magma.registry.host }}.{{ magma.domain }}/${image}:1.3.0-master   
done
