
{{ nms }} master.nms.{{ magma.domain }} org01.nms.{{ magma.domain }}
{{ controller }} controller.{{ magma.domain }}
{{ controllerint }} controllerint.{{ magma.domain }}
{{ api }} api.{{ magma.domain }}
{{ bootstrapper }} bootstrapper.{{ magma.domain }}
{{ fluentd }} fluentd.{{ magma.domain }}


